<aside class="sidebar col-sm-4" role="complementary">
        <section class="widget text-3 widget_text"><div class="widget-inner"><h3>About</h3>			<div class="textwidget"><div class="media">
  <a class="pull-left" href="#">
	<img src="assets/legacy/uploads/2011/01/my face.JPG" alt="gregory ovenden" class="img-responsive img-thumbnail"/>
	>
  </a>
  <div class="media-body">
    <h4 class="media-heading">Gregory Ovenden</h4>
     Sound Recordist, Outside Broadcast Sound Engineer
<br />
<a href="http://www.thesoundfarmer.com/">Read more</a>
<br />
<a href="mailto:gregoryovenden@gmail.com">gregoryovenden@gmail.com</a>
  </div>
</div>


</div>
		</div></section><section class="widget nav_menu-3 widget_nav_menu"><div class="widget-inner"><h3>Social Networks</h3><ul id="menu-social" class="menu">
<li class="menu-instagram"><a href="https://www.instagram.com/thesoundfarmer/">Instagram</a></li>
<li class="menu-soundcloud"><a href="https://soundcloud.com/thesoundfarmer">Soundcloud</a></li>
<li class="menu-linkedin"><a href="http://uk.linkedin.com/pub/gregory-ovenden/18/a5/6b7">Linkedin</a></li>