<aside class="sidebar col-sm-4" role="complementary">
        <section class="widget text-3 widget_text"><div class="widget-inner"><h3>About</h3>			<div class="textwidget"><div class="media">
  <a class="pull-left" href="#">
    <img src="{{ site.baseurl}}/assets/legacy/uploads/2011/01/n284001797_2820921_4225-e1295201495945-139x150.jpg" alt="" title="n284001797_2820921_4225" class="img-responsive img-thumbnail" />
  </a>
  <div class="media-body">
    <h4 class="media-heading">Gregory Ovenden</h4>
     Available for: Sound recording, boom operation, wildlife sound and post production sound.
<br />
<a href="http://www.thesoundfarmer.com/about-me/">Read more</a>
<br />
<a href="http://www.thesoundfarmer.com/contact/">Get in touch</a>
<br />
<a href="mailto:gregoryovenden@gmail.com">gregoryovenden@gmail.com</a>
  </div>
</div>


</div>
		</div></section><section class="widget nav_menu-3 widget_nav_menu"><div class="widget-inner"><h3>Social Networks</h3><ul id="menu-social" class="menu"><li class="menu-twitter"><a href="http://www.twitter.com/thesoundfarmer">Twitter</a></li>
<li class="menu-facebook"><a href="https://www.facebook.com/ovendensoundfarmer">Facebook</a></li>
<li class="menu-linkedin"><a href="http://uk.linkedin.com/pub/gregory-ovenden/18/a5/6b7">Linkedin</a></li>
<li class="menu-shooting-people"><a href="http://shootingpeople.org/cards/GregoryOvenden">Shooting People</a></li>
<li class="menu-film-crew-pro"><a href="http://www.filmcrewpro.com/uk/view.php?uid=386561">Film Crew Pro</a></li>
</ul></div></section>		<section class="widget recent-posts-2 widget_recent_entries"><div class="widget-inner">		<h3>Recent Projects</h3>		<ul>
					<li>
				<a href="http://www.thesoundfarmer.com/wwt-caerlaverock/">WWT Caerlaverock</a>
						</li>
					<li>
				<a href="http://www.thesoundfarmer.com/fieldcraft/">Fieldcraft</a>
						</li>
					<li>
				<a href="http://www.thesoundfarmer.com/fieldcast-episode-four-crossbills-winterwatch-and-the-river-dee/">Fieldcast Episode Four &#8211; Mar Lodge, Crossbills, Winterwatch and The River Dee</a>
						</li>
					<li>
				<a href="http://www.thesoundfarmer.com/fieldcast-episode-three/">Fieldcast: Episode Three</a>
						</li>
					<li>
				<a href="http://www.thesoundfarmer.com/fieldcast-episode-two-recording-the-wasps/">Fieldcast: Episode Two &#8211; Recording the Wasps</a>
						</li>
				</ul>
		</div></section>      </aside><!-- /.sidebar -->
