---
layout: default
---
<div class="home">
  <h1 class="page-heading">Posts</h1>
  {{ content }} 
  
  {% for post in paginator.posts %}
<article class="post type-post  hentry " itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
    <h1 class="post-title entry-title" itemprop="name headline">
      <a href="{{post.url}}">{{ post.title | escape }}</a></h1>
    <p class="post-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%b %-d, %Y" }}</time>
      </p>
  </header>
  <div class="post-content" itemprop="articleBody">
    {{ post.excerpt }}
  </div>
 
</article>
<br /><hr/><br />
  {% endfor %}
  <br />
  <hr>
  <br />
  <nav class="post-nav">
    <ul class="pager">
      <li class="previous">
        {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a> {% else %}
        <span class="previous">Previous</span> {% endif %}
        <li class="next">
          {% if paginator.next_page %}
          <a href="{{ paginator.next_page_path }}" class="next">Next</a> {% else %}
          <span class="next ">Next</span> {% endif %}
        </li>
    </ul>
    <p class="text-center">Page: {{ paginator.page }} of {{ paginator.total_pages }}</p>
  </nav>
  <p class="rss-subscribe">subscribe <a href="{{ " /feed.xml " | relative_url }}">via RSS</a></p>
</div>

